.footerBox{
	background-color: #fff;
}
.goodsCell{
	width: 1260px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}
.cellWrap{
	padding: 30px 0;
	display: flex;
	justify-content: space-around;
}
.cellItem{
	display: flex;
	flex: 1;
	margin-right: 65px;
}
.cellItem:last-child{
	margin-right: 0;
}
.cellimg{
	width: 50px;height: 50px;
	float: left;
	margin-right: 12px;
}
.descText{
	display: flex;
	flex-direction: column;
	font-size: 14px;
	
}
.tit{
	line-height: 20px;
	color: rgba(0,0,0,.85);
	font-weight: 700;
	margin-bottom: 2px;
}
.desc{
	font-size: 12px;
	line-height: 17px;
	color: rgba(0,0,0,.35);
	font-weight: 400;
}
.footer{
	border-top: 1px solid rgba(0,0,0,.15);
	padding: 20px 0;
	font-size: 12px;
}
.copy{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.plice{
	width: 43px;height: 37px;
}
.yyzz{
	width: 36px;height: 37px;
}
.copy{
	font-size: 12px;
	color: rgba(0,0,0,.45);
	line-height: 18px;
	font-weight: 400px;
}
.copyTop{
	margin-bottom: 4px;
}
.pliText{
	display: flex;
	align-items: center;
	justify-content: center;
}
.ba{
	color: rgba(0,0,0,.5);
	text-decoration: none;
}
.ba:hover{
	color: #FF4D70;
}
