.headerBox{
	background-color: #f4f4f4;
}
.bor_1{
	background-color: #fff;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.headTitleBox{
	min-width: 1200px;
	width: 1260px;
}
.headTitle{
	width: 1260px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}
.logoBox{
	display: flex;
	align-items: center;
	justify-content: center;
}
.logoBox>img{
	width: 40px;height: 40px;
	margin-right: 6px;
}
.logoName{
	font-size: 24px;
	font-weight: 400px;
	color: #000;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.www{
	font-size: 12px;
	color: #666;
	margin-bottom: 1px;
}
.navBox{
	width: 900px;
	height: 49px;
	display: flex;
	margin-left: 50px;
	font-size: 16px;
	line-height: 49px;
	font-weight: 400;
	color: #666;
}
.navBox a{
	height: 100%;
	display: inline-block;
	margin: 0 40px;
	text-decoration: none;
	color: #666666;
	position: relative;
}
.navBox a:first-child{
	width: 40px;
	color: #f64f6f;
	text-align: center;
}
.navBox a:first-child::after{
	content:"";
	width: 100%;
	height: 3px;
	background: #F64F6F;
	position: absolute;
	bottom: 0px;
	left: 0;
}
.loginBox{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
}
.nolog{
	width: 30px;height: 30px;
	margin-right: 6px;
}
.tologin{
	line-height: 49px;
	color: #ff4d70;
	font-weight: 400;
	cursor: pointer;
}
.toreg{
	color: #666;
	cursor: pointer;
}
.inputSea{
	margin: 0 auto;
	margin-top: 30px;
	width: 530px;
	box-sizing: border-box;
	border: 2px solid #F64F6F;
}
.myinp{
	width: 356px;
	height: 40px;
	font-size: 14px;
	outline: 0;
	border: 0;
	padding:0 32px;
}
.btn{
	display: inline-block;
	height: 40px;
	width: 106px;
	background-color: #f64f6f;
	color: #fff;
	line-height: 38px;
	text-align: center;
}
.keylist{
	width: 530px;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 30px;
	color: rgba(0,0,0,.35);
	font-size: 12px;
}
.keyitem{
	display: inline-block;
	border-right: 1px solid #ddd;
	padding:0 10px;
	cursor: pointer;
}
.keylist span:last-child{
	border: 0;
}
