.banner img{
	width: 100%;
	height:340px;
}
.banner{
	height: 340px;
	margin: 0;
}
.bannertimBox{
	padding: 20px 0;
	padding-bottom: 14px;
	background-color: rgba(0,0,0,.04);
}
.mainBox{
	width: 1260px;
	margin:0 auto ;
}
.filterBoxWarp{
	display: flex;
}
.spfl{
	width: 168px;
	height: 145px;
	background-color: #f5a623;
	border-radius: 4px;
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 145px;
	display: inline-block;
	margin-right: 8px;
}
.spfl img{
	width: 30px;
}
.spfl p{
	padding: 0;
	line-height: 0;
	margin-top: -50px;

}
.fliterRow{
	display: flex;
	list-style: none;
	flex: 1;
	flex-wrap: wrap;
}
.fliterRow li{
	box-sizing: border-box;
	width: 264px;
	height: 68px;
	background-color: #fff;
	margin-right: 7px;
	margin-bottom: 8px;
	padding-left: 10px;
	padding-top: 10px;
	border-radius: 4px;
	box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, .07);
}
.fliterRow li>a{
	text-decoration: none;
	color: #000;
	font-size: 18px;
	position: relative;
}
.topF{
	display: block;
	font-weight: 600;
}
.botF{
	font-size: 14px;
	color: rgba(0,0,0,.73);
}
.goLine{
	width: 50px;
	height: 22px;
	border: 3px solid #fd1a1a;
	border-radius: 20px;
	position: absolute;
	left: 160px;
	top: 10px;
	color:#fd1a1a;
	font-size: 16px;
	padding-left: 5px;
	font-weight: 600;
}
.go2{
	border-color: #ff7e23;
	color: #ff7e23;
}
.go3{
	border-color: #ffb616;
	color: #ffb616;
}
.go4{
	border-color: #05c54a;
	color: #05c54a;
}
.g05{
	border-color: #05c5b9;
	color: #05c5b9;
}
.go6{
	border-color: #15b0ff;
	color: #15b0ff;
}
.go7{
	border-color: #1599ff;
	color: #1599ff;
}
.go8{
	border-color: #153Dff;
	color: #153Dff;
}
.titles{
	display: flex;
	padding:18px 0;
	justify-content: flex-start;
	align-items:center;
}
.tithImg{
	height: 24px;
	margin-right: 10px;
}
.titleHot{
	display: inline-block;
	font-size: 12px;
	color: rgba(0,0,0,.45);
	line-height: 24px;
	height: 24px;
}
.topHotImg{
	width: 240px;
	height: 756px;
	position: relative;
}
.dayHImg{
	width: 100%;
	height: 100%;
	border-radius: 3px;
}
.hotProduct{
	display: inline-flex;
}
.hotProductItemBox{
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	position: relative;
}
.hotProItem{
	font-size: 14px;
	margin-left: 13px;
	padding: 5px;
	border: 1px solid rgba(0, 0, 0, .1);
	text-decoration: none;
}
.hotPB{
	margin-bottom: 13px;
}
.hotMainPic{
	width: 230px;
	height: 243px;
}
.price{
	color: #eb000c;
	font-size: 28px;
	margin-bottom: 5px;
}
.productName{
	color: rgba(0, 0, 0, .6);
	padding-bottom: 10px;
	margin-bottom: 8px;
}
.productB{
	border-top: 1px solid rgba(0, 0, 0, .1);
	padding-top: 7px;
}
.productZ{
	color: rgba(0, 0, 0, .69);
}
.productZL,.productDW{
	color: #9c0321;
	font-weight: 600;
}
.productZL{
	font-size: 12px;
	font-weight: 600;
}
.newProduct{
	list-style: none;
	display: flex;
	background-color: #fff;
	padding: 10px 15px;
}
.newbox{
	padding-bottom: 20px;
}
.newProItem{
	text-decoration: none;
	font-size: 14px;
	color: rgba(0, 0, 0, .73);
	display: block;
	padding: 3px;
}
.newImg{
	width: 227px;
	height: 227px;
}
.title{
	height: 40px;
}
.newPrice{
	color: #eb000c;
	font-size: 18px;
	display: inline-block;
	
}

.newguige{
	display: block;
	float: right;

}
.newProduct li:first-child~li{
	margin-left: 15px;
}
.rightBanBox{
	background-color: #000;
	position: fixed;
	right: 0;
	height: 100%;
	height: 316px;
}