ul{
	list-style: none;
}
.regbox{
	width: 100%;height: 100%;
	border-radius: 3px;
}
.contBox{
	width:1000px;height: 600px;
	background: #FFFFFF;
	margin: auto;
	margin-top: 80px;
	border-radius: 5px;
	box-shadow: 0 2px 38px rgba(241,101,145,.05);
}
.leftBox{
	padding-left: 35px;
	padding-top: 40px;
	float: left;
}
.leftBox>h2{
	font-size: 28px;
	line-height: 40px;
	color: #333;
	font-weight: 700;
	margin-bottom: 10px;
}
.leftBox>h3{
	font-size: 16px;
	font-style: helvetica neue,normal,微软雅黑;
	line-height: 20px;
	color: #333;
	margin-bottom: 20px;
	font-size: 300;
}
.line div{
	clear: both;
}
.line span{
	background: #ddd;
	width: 56px;
	height: 3px;
	border-radius: 4px;
	display: block;
	float: left;
	margin-left: 8px;
}
.line>.active{
	background:#FF4D70;
	width: 56px;
	height: 3px;
	border-radius: 4px;
	display: block;
	margin-left: 6px;
	margin-bottom: 20px;
}
.box{
	width: 350px;
}
.form{
	border: 1px solid #ddd;
	border-radius: 10px;
}
.form li{
	border-bottom: 1px solid #ddd;
	height: 52px;
	padding:15px 20px;
	box-sizing: border-box;
}
.form li:last-child{
	border-bottom: none;
}
.form li input{
	border: none;
	outline: none;
	width: 314px;
	font-size: 16px;
}
.form li:nth-child(3) input{
	width: 187px;
	float: left;
}
.form li:nth-child(3) a{
	float: left;
	width: 90px;
	height: 30px;
	text-decoration: none;
	color: #FF4D70;
	border-left: 1px solid #ddd;
	display: inline-block;
	padding-left: 20px;
}
.operate{
	font-size: 12px;
	line-height: 18px;
	color: #999;
	padding-bottom: 20px;
}
.footer button{
	width: 150px;height: 38px;
	line-height: 38px;
	text-align: center;
	font-size: 16px;
	border-radius: 2px;
}
.toReg{
	background: #fff;
	border: 1px solid #ff97ab;
	box-shadow: 0 0 10px rgba(208,17,38,.17);
	color: #ff4d70;
}
.loGin{
	background: #FF4D70;
	border: 2px solid #ffa1b3;
	color: #fff;
	float: right;
}
/* 右边图片 */
.rightImg{
	width: 444px;
	float: right;
}
.rightImg img{
	width: 100%;
	display: block;
}